.vagrant
*log
TODO
#ansible/playbooks/roles/
#ansible/roles/
.direnv/
roles/geerlingguy.mysql/

# Entornos virtuales Python
molecule-env/
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo

# Molecule
.cache/
.molecule/

# Testing temporales
*.tmp
*.log
roles/matias-tecnosoul.wordpress_webserver/
