---
extends: default

rules:
  line-length:
    max: 120
    level: warning
  
  truthy:
    allowed-values: ['true', 'false', 'yes', 'no']
  
  indentation:
    spaces: 2
    indent-sequences: consistent

ignore: |
  .cache/
  molecule-env/
  .vagrant/
  roles/geerlingguy.mysql/
